<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Death</title>
</head>
<body>
  <div class="container">
    <h1>@Model.GetTamagotchiName() has Died :[</h1>
    <img class="tamagotchi" src='~/img/dead.png'/>
    <p>You killed @Model.GetTamagotchiName()! <a href="/home">Make a new Tamagotchi.</a></p>
  </div>
</body>
</html>
