<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Play</title>
</head>
<body>
  <div class="container">
    <h1>Play</h1>
    <form action="/" method="post">
      <button type="submit" name="button">Play</button>
    </form>
  </div>
</body>
</html>
