<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Job Board</title>
</head>
<body>
  <h1>Sleep</h1>
  <div class="container">
    <form action="/" method="post">
      <button type="submit" name="button">Sleep</button>
    </div>
  </body>
  </html>
